# Ejercicio Pandas Data Frame Avanzado

### Autor: Emilio Martínez Miranda

In [1]:
import numpy as np
import pandas as pd

In [2]:
nums = np.random.randint(100, 3000, (8, 4))
letters = np.reshape(list("abcd")*2, (8,1))
values = np.append(nums, letters, axis = 1)

fecha = pd.date_range("20230915", periods=8)

df = pd.DataFrame(values, index=fecha, columns=list("VWXYZ"))
df

               V     W     X     Y  Z
2023-09-15   881  2032  1999  1771  a
2023-09-16   197  2042   507  2981  b
2023-09-17  2977  1913   965  2494  c
2023-09-18  2598  1042   771   879  d
2023-09-19   804   219  1850  1737  a
2023-09-20   514  1409  2106  2173  b
2023-09-21   838  2135   458  2770  c
2023-09-22   424  2954   505  1604  d

In [3]:
df.dtypes

V    object
W    object
X    object
Y    object
Z    object
dtype: object

In [4]:
# Cambiando tipo de dato manualmente

types_dict = {
    'V': 'int64',
    'W': 'float64',
    'X': 'int64',
    'Y': 'float64'}

df = df.astype(types_dict)
df.dtypes

V      int64
W    float64
X      int64
Y    float64
Z     object
dtype: object

* Hacer una función que asigne 'int64' a todas las columnas excepto Z

In [5]:
# Solución profesora

types_dict = {}
for i in df.columns:
    types_dict.update({i : 'int64'})

types_dict.pop('Z')

'int64'

In [ ]:
# def type_int64(df):